main{
    margin-top: 2rem;
    padding: 0;
    display: flex;
    gap: 1em;
}

.comparadorDiv{
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 1em;
    height: max-content;
}

.buscador {
    margin: 0;
    }

.barraBusqueda {
    width: 200px;
    margin: 10px;
    height: 30px;
}

.pokemon-nombre{
    font-size: large;
}

.pokemon:hover{
    background-color: yellow;
}

.pokemon-seleccionado{
    margin-top: 1em;
    padding: 1em;
    border: 3px solid gray;
    border-radius: 10px;
}

.pokemon-stats{
    display: flex;
    flex-direction: column;
}